<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GraphDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GraphDB.Properties.Settings>
            <setting name="ReferenceAssemblyPath" serializeAs="String">
                <value>D:\Dainter\资料\Argus\Argus\bin\</value>
            </setting>
        </GraphDB.Properties.Settings>
    </applicationSettings>
</configuration>